*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    margin: 1rem;
    background-color: hsl(213, 51%, 12%);
    color:rgb(211, 240, 246);
}

/* HEADER */
header{
    position: relative;
    height: 60px;
}

header #webName{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.5rem;
    font-weight: bolder;
    color: hsl(190, 66%, 90%);
}

header img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 65px;
    height: 65px;
    object-fit: contain;
}
/* HEADER END */


/* NAVIGATION */
.navbar {
    background-color: hsla(213, 51%, 9%, 0.751);
    color: hsl(190, 66%, 90%);
    display: flex;
    height: .5rem;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

}

.navBar .searchDiv{
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.navbar .loginBtn{
    font-weight: bold;
}

.navbar .searchDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
}

.navbar #navSearchInpt{
    padding: 5px 10px;
    width: 200px;
    border-radius: 5px;
    transition: .3s all;
}

.navbar #navSearchInpt::placeholder{
    letter-spacing: 3px;
}

.navbar #navSearchInpt:focus{ 
    outline: 2px solid hsl(214, 50%, 60%);
    transform: scale(1.05);
}

.navbar button{
    background-color: transparent;
    color: hsl(190, 66%, 90%); 
    border-width: 0;
    font-size: 1.1rem;
}

a{
    color: hsl(214, 50%, 90%);
    font-style: normal;
    text-decoration: none;
}

.navbar button:hover, a:hover{
    color: hsl(214, 50%, 60%);
}

.navbar button:active, a:active{
    color: hsl(214, 50%, 50%);
}

.navbar #fontSetting{
    font-weight: bold;
}

.navbar .loginBtn{
    font-weight: bold;
}

/* NAVIGATION END */


/* BACKGROUND AND FONT SETTINGS */
.textSettingContainer {
    display: none;
    position: absolute;
    top: 9.5%;
    right: 2.5%;
    width: fit-content;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(214, 56%, 25%);
    border-radius: 12px;
    padding: 14px 18px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}



.txtLabel {
    font-weight: 600;
    font-size: 1.1rem;
    color:hsl(214, 56%, 90%);
}

.pageColor {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 2px solid hsl(190, 66%, 90%);
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

#pageColorWhite {
    background-color: #ffffff;
}

#pageColorBeige {
    background-color: hsl(40, 38%, 83%);
}
  
#pageColorBlack {
    background-color: #222222;
}



.textSettingContainer .fontAdjust {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: hsl(214, 50%, 50%);
    color: hsl(214, 50%, 90%);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 8px hsla(216, 100%, 0%, 0.5);
    display: flex; 
    justify-content: center;
    align-items: center;
}
/* END OF BACKGROUND AND FONT SETTINGS*/

/* TABLE OF CONTENTS */
.tableContentContainer {
    display: none; 
    position: absolute;
    right: 0;
    width:fit-content;
    height: calc(100vh - 116px);
    background-color: hsl(214, 50%, 25%);
    margin: 0;
    padding: 0;
}

.tableContent {
    margin: 0;
    padding: 0;
}

.tableContent li {
    padding: 1rem 2rem;
    margin: 0;
    list-style: none;
}

.tableContent li:hover {
    background-color:  hsl(214, 50%, 30%);
}

/* END OF TABLE OF CONTENTS */


/* PAGE CONTAINER */
.page-container{
    display: flex;
    flex-direction: column;
    background-color:  hsl(214, 50%, 30%);
    border-radius: 5px;
}


.document{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 186px);
    background-color: #fff;
    color: #122C4A;
}
.docContent{
    margin-left: 6%;
    margin-right: 6%;
}
/* END OF PAGE CONTAINER */

/* READING PROGRESS */
.progress button{
    background-color: hsl(214, 50%, 80%);
    border-radius: 50px;
    border: none;
    padding: .8% .8%;
    color: hsl(214, 50%, 30%);
}

.progress{  
    display: flex;
    align-items: center;
    background-color: hsla(213, 51%, 9%, 0.751);
    width: 100%;
    text-align: center;
    padding: .5% 0%;
    justify-content: center;
    gap: 10px;
}

.progress .page-number{
    padding: .6% 1.4%
}

.progress .pageBtn{
    padding: .7% 1.5%;
}

.progress input{
    padding: 10px 15px;
    background-color: hsl(214, 50%, 80%);
    border-width: 0;
    border-radius: 3px;
}

.progress button:hover{
    background-color: hsl(214, 50%, 70%);
}

/* END OF READING PROGRESS */

/* HOVER TRANSLATION */

.transContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 25px;
    align-items: center;
    border-width: 0;
    font-weight: 700;
    padding: 4px 12px;
    background-color: hsla(214, 100%, 81%, .7);
    color: hsl(214, 100%, 24%);
    border-radius: 40px 40px 40px 0px;;
    box-shadow: 0 5px 8px hsla(216, 85%, 20%, 0.3);
    position: absolute;
}

.transWord {
    font-size: .9rem;
}


.transLang {
    font-weight: 600;
    font-size: .6rem;
}

.transContainer p{
    margin: 0;
}

.transContainer:active {
    background-color: hsl(214, 50%, 70%);
    box-shadow: 0 4px 10px hsla(214, 85%, 41%, 0.6);
} 

/* END OF HOVER TRANSLATION */

/* DICTIONARY */

.def-word{
    position: relative;
}

.definitionContainer{
    /* padding: 1% 1.5%; */
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px 10px;
    background-color: hsl(214, 50%, 49%);
    border-radius: 7px;
    box-shadow: 0 4px 5px hsla(214, 50%, 10%, .3);
    /* top: 50%;
    left: 50%;
    transform : translate(-50%, -50%); */
}


.definitionContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.definitionContainer .transWord{
    font-size: 15px;
    font-weight: bold;
    color: hsl(214, 50%, 90%);
}

.definitionContainer .trasDefinition{
    margin:.5% 0% 2% 5%;
    font-size: 14px;
    color: hsl(214, 50%, 84%);
}
.definitionContainer p{
    font-size: 11px;
    margin: 0;
}

.definitionContainer .sentenceUsed{
    font-size: 14px;
    margin:.5% 0% .5% 5%;
    color: hsl(214, 50%, 88%);
}
.definitionContainer .closeBtn{
    position: absolute;
    right: -10px;
    top: -5px;
    cursor: pointer;
    background-color: hsl(214, 50%, 80%);
    color: #fff;
    /* width: 60px; */
    /* height: 30px; */
    border-width: 0;
    border-radius: 7px; 
    float: right;
    box-shadow: 0 4px 5px hsla(214, 50%, 10%, .3);
}

.definitionContainer .closeBtn:hover{
    background-color: hsl(0, 100%, 54%);

}

/* END OF DICTIONARY */










