*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* FilesDisplay */
body {
    margin: 1rem;
    background-color: hsl(214, 50%, 12%);
}

/* HEADER */
header{
    position: relative;
    height: 60px;
}

header #webName{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.5rem;
    font-weight: bolder;
    color: hsl(190, 66%, 90%);
}

header img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 65px;
    height: 65px;
    object-fit: contain;
}
/* HEADER END */

/* MAIN CONTAINER */
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    color: hsl(214, 50%, 90%);
}
/* NAVBAR  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(213, 51%, 9%, 0.751);
    color: hsl(190, 66%, 90%);
    padding: .5rem;
    border-radius: 4px;
}

.navbar span{
    font-weight: bold;
}

.navbar #navSearchInpt{
    padding: 5px 10px;
    width: 200px;
    color: hsl(214, 50%, 20%);
    border-radius: 5px;
    transition: .3s all;
}

.navbar #navSearchInpt::placeholder{
    letter-spacing: 3px;
}

.navbar #navSearchInpt:focus{ 
    outline: 2px solid hsl(214, 50%, 60%);
    transform: scale(1.05);
}

.navbar button{
    background-color: transparent;
    color: hsl(190, 66%, 90%); 
    border-width: 0;
    font-size: 1.1rem;
}

.navbar .loginBtn{
    font-weight: bold;
}

.navbar .searchDiv{
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.filesText {
    font-size: 1rem;
    font-weight: bold;
}

.navbar button:hover, a:hover{
    color: hsl(214, 50%, 60%);
}

.navbar button:active, a:active{
    color: hsl(214, 50%, 50%);
}

/* NAVBAR END */

div i{
    color: hsl(190, 66%, 90%);
}

.fileListContainer {
    max-width: 650px;
    margin: auto;
    margin-top: .5rem;
}

.fileItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid hsl(214, 50%, 30%);
    border-radius: 8px;
    background: hsl(214, 50%, 40%);
    margin-bottom: 1rem;
}

.fileItem:hover {
    background-color: hsl(214, 50%, 35%);
}


.fileImg {
    width: 50px;
    height: 70px;
    background: hsl(214, 50%, 50%);
    border-radius: 4px;;
}
.fileName {
    flex-grow: 1;
    font-weight: bold;
}
.fileProperties {
    font-size: 0.9rem;
    color: hsl(214, 50%, 90%);
    white-space: nowrap;
}

.contentContainer aside {
    display:none;
    position: absolute;
    margin-top: -2rem;
    height: calc(100vh - 127px);
    padding-right: 2rem;
    margin-left: -2rem;
    background-color: hsl(214, 50%, 16%);
    transition: background-color 0.3s ease;
}

ul li {
    padding: 1rem;
    margin: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    list-style: none;
}

ul li:hover {
    background-color: hsl(214, 50%, 30%);

}
.sideBar ul{
    margin-right: -2rem;
}
.sideBar a{
    text-decoration: none;
}
.sideBar a:visited{
    color: inherit;
}


.fileSetting{
    background-color:hsl(214, 50%, 18%);
    width: fit-content;
    height:fit-content;
    font-size: 16px;
    color:hsl(214, 50%, 90%);
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 3px 6px hsl(214, 50%, 5%, .4)
}

/* UPLOAD BUTTON */
#uploadBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: hsl(214, 50%, 90%);
    background-color: hsl(214, 50%, 40%);
    border: none;
    padding: .1% 1.1%;
    padding-left: 1%;
    border-radius: 6px;
    cursor: pointer;
    position: fixed;
    right: 3%;
    box-shadow: 0 4px 8px hsl(214, 50%, 30%);
}

#uploadBtn:hover {
    background-color: hsl(214, 50%, 50%);
    outline: none;
}

#uploadBtn i {
    font-size: 2;
    line-height: 1;
}
  
#fileInpt {
    cursor: pointer;
    color: lightblue;
}


.uploadFileContainer {
    width: fit-content;
    height: fit-content;
    background-color: hsl(214, 50%, 50%);
    border-radius: 4px;
    position: absolute;  
    top: 11rem;       
    justify-content: center; 
    align-items: center;      
    flex-direction: column;  
    margin-left: 2.2rem;
    border-width: 3px;
    border-color: hsl(214, 50%, 28%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
} 

.uploadFileContainer h2{
    margin-top: -0.5rem;
    margin-left: 11rem;
    
}

.uploadFileContainer #fileInpt {
    width: 22rem;
    height: 2rem;
    font-size: 20px;
    margin-left: 7rem;
}



.uploadFileContainer #uploadBtn{
    width: 6rem;
    height: 2rem;
    margin: 1rem 1rem;
    background-color: hsl(214, 50%, 78%);
    border-width: 0px;
    margin-left: 12rem;
}

/* SETTING CONTAINER*/


.settingContainer{
    position: absolute;
    right: 0rem;
    top: 7rem;
    width: fit-content;
    height: fit-content;
    background-color: hsl(214, 50%, 16%);
}

ul{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: -2.5rem;
}

#settingPanel, #sortPanel, #fltrPanel{
    display: none;
    padding-left: 10px;
}

.uploadFileForm {
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:hsl(214, 50%, 34%);
    padding: 10px;
    border-radius: 3px;
    font-size: 1.1rem;   
    font-weight: bold;
    color: hsl(190, 66%, 90%);
}
.uploadFileForm input{
    outline: none;  
    transition: all .3s;

}

.uploadFileForm input:focus{
    transform: scale(1.05);
}

.uploadFileForm .genres-checkboxes{
    font-size: 1.1rem;
    font-weight: normal;
}

.upload-file-label{
    color: rgb(47, 192, 11);
}

.flex{
    display: flex;
    flex-direction: column;
}




 