*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 1rem;
    background-color: hsl(214, 50%, 12%);
    color:rgb(211, 240, 246);
}

.container{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    display: flex;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
}

.hero-section{
    background-color: #fff;
    width: 350px;
    background: url('../login-page-img.jpg') no-repeat center center/cover;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section p{
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1C3554;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    width: 250px;
}

.login-form h1{
    align-self: center;
    font-weight: bold;
}

.login-form a{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;

    transition: all 1s;
}

.login-form a:hover{
    text-decoration: underline;
}

.login-form a:visited{
    color: hsl(213, 10%, 55%);
}

.login-form label{
    font-size: 1.2rem;
}

.login-form input
{
    font-size: 1rem;
    padding: 5px;
    border-radius: 6px;
    width: 100%;
    text-indent: 15px;
}

.login-form button{
    font-weight: bold;
    padding: 5px 10px;
    font-size: 1.4rem;
    border-radius: 6px;
    border: none;
}

.login-form button:hover{

    background-color: hsl(214, 50%, 12%);
    color: #fff;
    cursor: pointer;
    /* background-color: crimson; */
    /* color: #fff; */
}

.login-form button:active{
    transform: scale(.97);
}

.field{
    position: relative;
}

.field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
    color: #1C3554;
}



